<%- include("partials/header") %>
<style>p{
    font-size: larger;
    font-style: italic;
    margin: 8px;
    color: dimgrey;
}
h3{
   margin: 12px;
}

</style>
<h3>Our Vision</h3>
<p>
   To make this city a better and a much safer place for women. 
</p>
<h3>Founders of ShikaYatBox</h3>
<p>We are a small group of students from DELHI TECHNOLOGICAL UNIVERSITY & DELHI UNIVERSITY. We are currently
   at a trial run of our startup "ShikaYatBox"; if we get enough complaints from users then it would mean people
   are trusting us and our ideology of solving the problem of Eve-Teasing. We are working very hard and responding to
   each and every complaint daily.Our network is growing more and more stronger. We hope one day we would succeed
   on throwing away Eve-Teasing from Delhi forever.
</p>
<%- include("partials/footer") %>


