<%- include("partials/header") %>
<style>
div{
    padding-left: 20px;
    margin-top: 20px;
}
a{
    font-size: larger;
}
    </style>
<div>
<h2>Call Us :</h2>
<h3>+919625499783</h3>
<h3>+917042560725</h3>
</div>
<div>
    <h2>Email Us :</h2>
     <h3>shikayatbox1710@gmail</h3>
</br>
    <h3> Connect On LinkedIn :</h3>
    <a href="https://www.linkedin.com/in/yuvraj-sharma-7a2165199">Yuvraj Sharma</a>
</br>
    <a href="https://www.linkedin.com/in/saanya-yadav-150150170">Saanya Yadav</a>
</br>
    <a href="https://www.linkedin.com/in/aachri-tyagi-49b38b170">Aachri Tyagi</a>
</br>
</br>
    <h3>Visit Our Facebook Page :</h3>
    <a href="https://m.facebook.com/ShikayatBox-107729734165956/?tsid=0.8032006441309629&source=result">ShikaYatBox</a>
</div>
<%- include("partials/footer") %>