<%- include("partials/header") %>

<style>
 p{
    font-size: larger;
    margin-left: 25px;
    font-style: italic;
}
h4{
    margin-left: 15px;
}
h2{
    margin-left: 6px;
    font-style: italic;    
}
h4{
    font-style: italic;  
}
hr{
    height: 20px;
}
    </style>
    
<div class="eg">
    <h2>You can write it in any language you want hindi,english or hinglish</h2>
<hr>
<h4>Here's how you can write your complaint...</h4>
    <hr>
<p>I'm a student of ABC school.Whenever I go to school there's this guy who follows 
    me along the way (everyday).Sometimes he abuses me whenever I refuse to talk to
    him. I don't know what should I do.
    Here's my school's address - ABC school,XYZ nagar, delhi.
    He always comes at the time of "chutti" of my school around 12:30.
</p>
</div>
<%- include("partials/footer") %>