<%- include("partials/header") %>
<style>
    h2{
        font-size: large;
        color:white;
        background-color: lightgreen;
        background-size: 25px;
    }
</style>
<h2>We just got your response. In a while you will receive a call from us.</h2>
<%- include("partials/footer") %>