<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="slider"></div>
<h2>ShikaYatBox</h2>
<div>
  <p>ShikaYatBox is providing women a platform where they can freely write and complain about what they are facing
     everyday. Yes, we are talking about "Eve-Teasing". 
     The real reason why women hesitate to go to police and file a complaint about what they are going through,
     is that they don't want to get into some kind of trouble or any legal matter & because of this feeling of
     hesitation they just don't take any action and hence choose to suffer. 
</p>
<p>But from now-on, it will never happen again. ShikaYatBox is basically an interpreter between women & delhi police.
   You visit our website, write your complaint, hit the submit button and it's done; within a couple of days
   a regular patrolling by the police will get started in your area or wherever you are feeling uncomfortable to go.
</p>
<h3>Why This?</h3>
<p>
   You know what is the beauty of this; <strong>No personal details will be asked</strong> except your contact number
   for verificatiion of the complaint. Without disclosing your identity you can file your complaint and even 
   the complaint of anybody else like your friend(but not a fake one).In this way you can help in making this city
   a better place for women. Just think about some of those "Eve-Teasing prone areas" where you would have never
   wanted to go but now you see a police officer patrolling there.This would definitely give you Hope & Confidence.
</p>
</div>
<div class="cnrght">
  <h3>How To Write The Complaint</h3> 
  
     <p>1.) Click on the "ADD YOUR COMPLAINT" button.</p>
    <p>2.) Type whatever you are going through and about your current conditions.</p>
    <p>3.) Write the exact location of that place wherever it is happening.      </p> 
    <p>4.) Type in your contact number.</p>
    <p>5.) Click on the "SUBMIT" button. </p>
    <a href="/example">Click here for an example</a>
</div>
<br><a class="btn btn-success btn-lg" href="/complaint">ADD YOUR COMPLAINT</a></br>
<br><p class="redline">If you get no response from police then <a class="btn btn-primary" href="/noresponse">click here</a>
   . We assure you that you won't get disappointed twice. You will also receive a call from us. </p></br>
<%- include("partials/footer") %>