<%- include("partials/header") %>
<style>
p{
    background-color: lightgreen;
    color: white;
    text-align: center;
    font-size: larger;
    margin: 8px;
}

</style>
<p>Your complaint has been registerd successfully. We assure you that action will be taken within a month.</p>

<%- include("partials/footer") %>